{
	email tech@nastycsa.com
}

evolve.nastycsa.com {
	handle /api/* {
		reverse_proxy backend:8000
	}

	handle /admin/* {
		reverse_proxy backend:8000
	}

	handle /static/* {
		reverse_proxy backend:8000
	}

	handle {
		reverse_proxy frontend:3000
	}
}

evolve-dev.escopia.com {
	redir https://evolve.nastycsa.com{uri} permanent
}
